html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none;
}

body{
	margin: 0;
	padding: 0;
}

.nav{
	background-color: #EEEEEE;
	height: 60px;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container{
	padding: 50px 75px ;
}

.nav--logo, 
.nav--post_account, 
.post_account,
.page_seeker--nav,
.page_seeker--item{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.nav--post_account{
}
.post_account--link{
	text-decoration: none;
}

.post_account:nth-child(1){
	margin-right: 25px;
}

.search--input{
	padding: 10px;
	font-size: medium;
	width: 60%;
	height: 50px;
	border-radius: 5px;
	border: 2px solid #DDDDDD;
}

.search--icon{
	background: url(magnifying-glass.png) no-repeat center;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	display: inline-block;
	border: 2px solid #DDDDDD;
	border-radius: 5px;
	position: absolute; 
	margin-left: 10px;
}

.search{
	position: relative;
}

.search, .page_seeker--nav{
	margin-bottom: 30px;
}

.page_seeker--nav{
	border: 2px solid #DDDDDD;
	border-radius: 5px;
}

.page_seeker--item:nth-of-type(1), 
.page_seeker--item:nth-of-type(2){
	border-right: 2px solid #DDDDDD;
}

.page_seeker--item{
	padding: 10px;
}

.page_seeker--item a{
	color: #000;
}

.listing--item{
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.listing--date,
.listing--location{
	color: #999;
}

.listing--date{
	margin-right: 15px;
}

.listing--location{
	margin-left: 15px;
}